*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    background-color: cadetblue;
    border-radius: 25PX;
    padding: 100px;
}
.row{
    display: flex;
}
.imgs{
    width: 33.33%;
    text-align: center;
    padding-top: 10%;
}
.imgs img{
    width: 35%;
}
.details{
    width: 33.33%;
}
h1,h5{
    text-align: center;
}
h5{
    color: rgb(48, 48, 48);
}
p{
    text-align: center;
    font-size: 50px;
}
button{
    margin: 10px;
    border-radius: 5px;
    border-color: aliceblue;
    color: aliceblue;
    width: 25%;
    background-color: brown;
    border: none;
    font-size: 50px;
}
.buttons{
    text-align: center;
}