body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */
    overflow: hidden;
  }
  .containers{
    width: 1140px;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 7.39em;
    --top-offset: 77.69vh;
    --fall-duration: 8.816s;
    --fall-delay: 4.085s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.7em;
    --top-offset: 3.5vh;
    --fall-duration: 7.851s;
    --fall-delay: 1.607s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.73em;
    --top-offset: 82.96vh;
    --fall-duration: 9.062s;
    --fall-delay: 9.375s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.99em;
    --top-offset: 65.13vh;
    --fall-duration: 10.197s;
    --fall-delay: 9.161s;
  }
  .star:nth-child(5) {
    --star-tail-length: 6.31em;
    --top-offset: 66.11vh;
    --fall-duration: 10.985s;
    --fall-delay: 8.219s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.12em;
    --top-offset: 11.29vh;
    --fall-duration: 7.701s;
    --fall-delay: 5.807s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.58em;
    --top-offset: 69.62vh;
    --fall-duration: 11.414s;
    --fall-delay: 0.896s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.75em;
    --top-offset: 2.54vh;
    --fall-duration: 7.194s;
    --fall-delay: 2.595s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.15em;
    --top-offset: 2.37vh;
    --fall-duration: 11.1s;
    --fall-delay: 0.858s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.28em;
    --top-offset: 3.71vh;
    --fall-duration: 9.851s;
    --fall-delay: 6.636s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.95em;
    --top-offset: 54.37vh;
    --fall-duration: 6.047s;
    --fall-delay: 9.924s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.04em;
    --top-offset: 11.27vh;
    --fall-duration: 8.415s;
    --fall-delay: 0.577s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.05em;
    --top-offset: 76.57vh;
    --fall-duration: 7.056s;
    --fall-delay: 9.477s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.67em;
    --top-offset: 93.2vh;
    --fall-duration: 11.958s;
    --fall-delay: 3.981s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.73em;
    --top-offset: 41.49vh;
    --fall-duration: 7.913s;
    --fall-delay: 1.534s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.46em;
    --top-offset: 1.41vh;
    --fall-duration: 6.545s;
    --fall-delay: 8.69s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.02em;
    --top-offset: 94vh;
    --fall-duration: 11.909s;
    --fall-delay: 4.729s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.05em;
    --top-offset: 98.63vh;
    --fall-duration: 8.118s;
    --fall-delay: 6.667s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.81em;
    --top-offset: 17.88vh;
    --fall-duration: 7.305s;
    --fall-delay: 2.885s;
  }
  .star:nth-child(20) {
    --star-tail-length: 7.16em;
    --top-offset: 67.56vh;
    --fall-duration: 10.017s;
    --fall-delay: 3.365s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.51em;
    --top-offset: 22.03vh;
    --fall-duration: 7.838s;
    --fall-delay: 1.87s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.71em;
    --top-offset: 73.32vh;
    --fall-duration: 9.333s;
    --fall-delay: 7.896s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.17em;
    --top-offset: 15.56vh;
    --fall-duration: 10.861s;
    --fall-delay: 2.051s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.43em;
    --top-offset: 57.92vh;
    --fall-duration: 10.322s;
    --fall-delay: 1.202s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.7em;
    --top-offset: 15.28vh;
    --fall-duration: 10.018s;
    --fall-delay: 9.067s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.13em;
    --top-offset: 90.96vh;
    --fall-duration: 10.606s;
    --fall-delay: 5.822s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.6em;
    --top-offset: 31.61vh;
    --fall-duration: 7.336s;
    --fall-delay: 0.108s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.98em;
    --top-offset: 37.89vh;
    --fall-duration: 8.184s;
    --fall-delay: 5.382s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.56em;
    --top-offset: 36.22vh;
    --fall-duration: 7.577s;
    --fall-delay: 5.098s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.32em;
    --top-offset: 97.05vh;
    --fall-duration: 7.23s;
    --fall-delay: 0.644s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.49em;
    --top-offset: 6.69vh;
    --fall-duration: 6.476s;
    --fall-delay: 3.076s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.98em;
    --top-offset: 76.54vh;
    --fall-duration: 11.541s;
    --fall-delay: 5.44s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.36em;
    --top-offset: 10.7vh;
    --fall-duration: 7.98s;
    --fall-delay: 2.691s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.05em;
    --top-offset: 12.45vh;
    --fall-duration: 8.978s;
    --fall-delay: 9.547s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.77em;
    --top-offset: 16.99vh;
    --fall-duration: 8.011s;
    --fall-delay: 6.168s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.06em;
    --top-offset: 52.46vh;
    --fall-duration: 6.11s;
    --fall-delay: 7.561s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.37em;
    --top-offset: 7.67vh;
    --fall-duration: 11.34s;
    --fall-delay: 2.521s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.27em;
    --top-offset: 37.62vh;
    --fall-duration: 6.566s;
    --fall-delay: 7.047s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.72em;
    --top-offset: 89.5vh;
    --fall-duration: 9.433s;
    --fall-delay: 3.466s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.31em;
    --top-offset: 34.96vh;
    --fall-duration: 9.494s;
    --fall-delay: 5.755s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.76em;
    --top-offset: 1.41vh;
    --fall-duration: 6.02s;
    --fall-delay: 9.756s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.75em;
    --top-offset: 57.09vh;
    --fall-duration: 9.206s;
    --fall-delay: 7.778s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.35em;
    --top-offset: 55.15vh;
    --fall-duration: 6.601s;
    --fall-delay: 2.761s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.37em;
    --top-offset: 97.44vh;
    --fall-duration: 9.149s;
    --fall-delay: 9.763s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.97em;
    --top-offset: 39.24vh;
    --fall-duration: 11.863s;
    --fall-delay: 4.067s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.59em;
    --top-offset: 48.34vh;
    --fall-duration: 6.641s;
    --fall-delay: 2.915s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.94em;
    --top-offset: 70.33vh;
    --fall-duration: 6.78s;
    --fall-delay: 6.196s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.09em;
    --top-offset: 40.46vh;
    --fall-duration: 11.365s;
    --fall-delay: 7.463s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.68em;
    --top-offset: 69.95vh;
    --fall-duration: 6.945s;
    --fall-delay: 9.16s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.37em;
    --top-offset: 96.19vh;
    --fall-duration: 11.014s;
    --fall-delay: 5.924s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }